@font-face {  
  font-family: 'fanti'; 
  src: url('锐字真言体免费商用.ttf');  
  font-weight: normal;  
  font-style: normal;  
}
@font-face {  
  font-family:'HappyZcool-2016'; 
  src: url('站酷快乐体2016修订版.ttf');  
  font-weight: normal;  
  font-style: normal;  
}