html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

.divider {
  height: 16px;
  width: 100%;
  background: #f3f5f7;
  border-top: 1px solid rgba(7, 17, 27, 0.1);
  border-bottom: 1px solid rgba(7, 17, 27, 0.1);
}

.el-cascader-menus .el-cascader-menu__item.is-active{
	color: #FF523D; 
	/* 更改element-ui三级联动颜色 */
}

.clearfloat:after{
	/* 清除浮动 */
	display:block;
	clear:both;
	content:"";
	visibility:hidden;
	height:0
} 
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* custom */

a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

html, body {
  min-width: 1200px;
  height: 100%;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* flex样式 */
.flex_r_s_b,.flex_r_f_s,.flex_r_f_e,.flex_c_f_s,.flex_c_f_e,.flex_c_s_b{
  width: 100%;
  overflow: hidden;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items:center;
  position: relative;
}
.flex_r_s_b{
  flex-direction: row;
  justify-content: space-between;
}
.flex_r_f_s{
  flex-direction: row;
  justify-content: flex-start;
}
.flex_r_f_e{
  flex-direction: row;
  justify-content: space-around;
}
.flex_c_f_s{
  align-items:center;
}
.flex_c_f_e{
  justify-content: flex-end;
}
.flex_c_s_b{
  justify-content: space-between;
  align-items:flex-start;
}
.flex_r_s_c{
	/* flex-direction: row;
	align-items:center;
	justify-content:center; */
	flex-direction: row;
	flex-start:center;
}
.container{
	width:100%;
	margin: 0 auto;
}
/* 鼠标移入变瘦 */
.pointer{
	cursor:pointer;
}

