$t_color:#000;
@mixin font-dpr($font-size){
    font-size: $font-size;/*no*/

    [data-dpr="2"] & {
        font-size: $font-size * 2;/*no*/
    }

    [data-dpr="3"] & {
        font-size: $font-size * 3;/*no*/
    }
}
@mixin bg-image($url) {
  background-image: url("../../assets/icon/" + $url + "@1x.png");
  @media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2){
	background-image: url("../../assets/icon/" + $url + "@2x.png");

  }
//   @media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2){
// 	background-image: url("../../assets" + $url + "@3x.png");
// 
//   }
}


  
